<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brockton's Promise | The Alliance for Youth</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header class="topBar">
		<div class="wrapper">
			<div class="logo">
				<a href="index.html"><img src="img/header.jpg" alt="Brockton's Promise"></a>
			</div>

			<div class="people">
				<img src="img/ShadowPeople.jpg" alt="">
			</div>
		</div>
		<nav class="mainNav">
			<div class="wrapper">
				<ul>
					<a href="index.html"><li>Home</li></a>
					<a href="about.html"><li>
						About

						<ul>
							<li>History</li>
							<li>Promise Partners</li>
							<li>Promise Teams</li>
							<li>Steering Committee</li>
						</ul>
					</li></a>
					<a href="promises.html"><li>Promises</li></a>
					<a href="get-involved.html"><li>Get Involved</li></a>
					<a href="resources.html"><li>Resources</li></a>
					<a href="contact.html"><li>Contact Us</li></a>
				</ul>
			</div>
		</nav>
	</header>

	<div class="hero">

		<div class="wrapper">
			<div class="caption">

				<h3>Title of Choice</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra efficitur ipsum pretium tincidunt. Vivamus sit amet ex condimentum, luctus nisi ac, faucibus ex. Suspendisse vestibulum rutrum odio, et viverra mi lobortis non. Etiam egestas, nibh a lobortis maximus</p>
			</div>
		</div>
	</div>


	<div class="content home">
		
		<div class="wrapper">
			
			<h3>Promises</h3>

			<div class="clear"></div>

			<div class="promise">
				
				<img src="img/caring-adults.jpg" alt="Caring Adults">

				<h2>Caring Adults</h2>
				
				<p>All children and youth need and deserve support and guidance from caring adults in their families, schools and communities. These include ongoing, secure relationships with guardians, parents and other family members, as well as positive relationships with teachers, mentors, coaches and neighbors. </p>
			</div>

			<div class="promise">
				
				<img src="img/safe-places.jpg" alt="Safe Places">

				<h2>Safe Places</h2>
				
				<p>All children and youth need and deserve to be physically and emotionally safe wherever they are — in homes, schools, neighborhoods and communities as well as online. They need safe places that offer constructive use of time.</p>
			</div>

			<div class="promise">
				
				<img src="img/healthy-start.jpg" alt="Healthy Start">

				<h2>Healthy Start</h2>
				
				<p>All children and youth need and deserve healthy bodies, healthy minds and healthful habits. These result from regular health care and needed treatment, good nutrition and exercise, health education and healthy role models.</p>
			</div>

			<div class="clear"></div>
			<div class="line2">

				<div class="promise">
					<img src="img/effective-ed.jpg" alt="Effective Education">

					<h2>Effective Education</h2>
					
					<p>All children and youth need and deserve the intellectual development, motivation and marketable skills that equip them for successful work and lifelong learning. These result from having quality learning environments, challenging expectations and consistent guidance and mentoring</p>

				</div>

				<div class="promise">
					<img src="img/opp-to-serve.jpg" alt="Oppurtunities to Serve">

					<h2>Oppurtunities to Serve</h2>
					
					<p>All children and youth need and deserve the chance to make a difference — in their families, schools, communities, nation and world — through having models of caring behavior, awareness of the needs of others, a sense of personal responsibility to contribute to the larger society, and opportunities for volunteering, leadership and service.</p>
					
				</div>
			</div>


		</div>

		<div class="wrapper">
			
			<div class="action">
				<h3>Find & Map It</h3>
				
				<p>Find services near you that promote healthy youth and families.</p>
			</div>
			<div class="action"></div>
			<div class="action"></div>

		</div>

	</div>

	<footer class="mainFoot">
		<div class="wrapper">

			<div class="foot">
				<h5>Home</h5>

				<h5>
					About

					<ul>

						<li>History</li>
						<li>Promise Partners</li>
						<li>Promise Teams</li>
						<li>Steering Committee</li>

					</ul>
				</h5>

				<h5>Five Promises</h5>
			</div>



			<div class="foot">

				<h5>
					Get Involved

					<li>Brockton Youth Council</li>
					<li>Newsletter</li>
					<li>Neighborhood Block Parties</li>
					<li>Volunteeer</li>
					<li>Become a Member</li>
				</h5>

				<h5>Resources</h5>
			</div>

			<div class="foot contact">

				<h5>Contact Us</h5>

				<h4>320 Washington Street <br>
					North Easton, MA <br>
					508-565-1959</h4>
				</div>

				<div class="clear"></div>

				<h6 class="copy">Brockton's Promise Copyright 2015 &copy; <br>
					Developed by Brian Brennan</h6>
				</footer>
			</body>
			</html>