<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brockton's Promise | The Alliance for Youth</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header class="topBar">
		<div class="wrapper">
			<div class="logo">
				<a href="index.html"><img src="img/header.jpg" alt="Brockton's Promise"></a>
			</div>

			<div class="people">
				<img src="img/ShadowPeople.jpg" alt="">
			</div>
		</div>
		<nav class="mainNav">
			<div class="wrapper">
				<ul>
					<a href="index.html"><li>Home</li></a>
					<a href="about.html"><li>About</li></a>
					<a href="promises.html"><li>Promises</li></a>
					<a href="get-involved.html"><li>Get Involved</li></a>
					<a href="resources.html"><li>Resources</li></a>
					<a href="contact.html"><li>Contact Us</li></a>
				</ul>
			</div>
		</nav>
	</header>

	<div class="wrapper">
		<aside class="side">
			<ul>
				<a href="history.html"><li>History</li></a>
				<a href="promise-partners.html"><li>Promise Partners</li></a>
				<a href="promise-teams.html"><li>Promise Teams</li></a>
				<ul>
					<a href="caring-adults.html"><li>Caring Adults</li></a>
					<a href="effective-education.html"><li>Effective Education</li></a>
					<a href="healthy-start.html"><li>Healthy Start</li></a>
					<a href="oppurtunities-to-serve.html"><li>Oppurtunities to Serve</li></a>
					<a href="safe-places.html"><li>Safe Places</li></a>
				</ul>
				
				<a href="steering-committe.html"><li>Steering Committe</li></a>
			</ul>
		</aside>

		<div class="promise-partners content page">

			<h3>Promise Teams</h3>

		</div>
	</div>
	<footer class="mainFoot">
		<div class="wrapper">

			<div class="foot">
				<h5>Home</h5>

				<h5>
					About

					<ul>

						<li>History</li>
						<li>Promise Partners</li>
						<li>Promise Teams</li>
						<li>Steering Committee</li>

					</ul>
				</h5>

				<h5>Five Promises</h5>
			</div>



			<div class="foot">

				<h5>
					Get Involved

					<li>Brockton Youth Council</li>
					<li>Newsletter</li>
					<li>Neighborhood Block Parties</li>
					<li>Volunteeer</li>
					<li>Become a Member</li>
				</h5>

				<h5>Resources</h5>
			</div>

			<div class="foot contact">

				<h5>Contact Us</h5>

				<h4>320 Washington Street <br>
					North Easton, MA <br>
					508-565-1959</h4>
				</div>

				<div class="clear"></div>

				<h6 class="copy">Brockton's Promise Copyright 2015 &copy; <br>
					Developed by Brian Brennan</h6>
				</footer>
			</body>