<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brockton's Promise | The Alliance for Youth</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header class="topBar">
		<div class="wrapper">
			<div class="logo">
				<a href="index.html"><img src="img/header.jpg" alt="Brockton's Promise"></a>
			</div>

			<div class="people">
				<img src="img/ShadowPeople.jpg" alt="">
			</div>
		</div>
		<nav class="mainNav">
			<div class="wrapper">
				<ul>
					<a href="index.html"><li>Home</li></a>
					<a href="about.html"><li>About</li></a>
					<a href="promises.html"><li>Promises</li></a>
					<a href="get-involved.html"><li>Get Involved</li></a>
					<a href="resources.html"><li>Resources</li></a>
					<a href="contact.html"><li>Contact Us</li></a>
				</ul>
			</div>
		</nav>
	</header>

	<div class="wrapper">
		<aside class="side">
			<ul>
				<a href="history.html"><li>History</li></a>
				<a href="promise-partners.html"><li>Promise Partners</li></a>
				<a href="promise-teams.html"><li>Promise Teams</li></a>
				<ul>
					<a href="caring-adults.html"><li>Caring Adults</li></a>
					<a href="effective-education.html"><li>Effective Education</li></a>
					<a href="healthy-start.html"><li>Healthy Start</li></a>
					<a href="oppurtunities-to-serve.html"><li>Oppurtunities to Serve</li></a>
					<a href="safe-places.html"><li>Safe Places</li></a>
				</ul>
				
				<a href="steering-committe.html"><li>Steering Committe</li></a>
			</ul>
		</aside>

		<div class="promise-partners content page">

			<h3>Promise Partners</h3>


			<h5>If you serve youth and families in Brockton, you’re already helping to make the Promise. <br> Please link into the coalition by <a href="contact.html">contacting us here.</a></h5>

			<p>
				Why connect with Brockton’s Promise? It seeks to unify all youth- and family-serving initiatives in the community. This allows us to measure the impact that our collective efforts make. Brockton’s Promise also facilitates communication among youth- and family-serving groups across the city, encourages collaboration, and supports evaluation.
			</p>

			<p><strong>Brockton’s Promise is proud to work with the following  Promise Partners:</strong><p>

				<p><a href="http://www.abeautifulme.us/" target="_blank">A Beautiful Me</a></p>
				<p><a href="http://www.bgcbrockton.org/" target="_blank">Boys and Girls Club</a></p>
				<p><a href="http://www.bridgew.edu/" target="_blank">Bridgewater State University</a></p>
				<p><a href="http://www.brocktonareaarc.org/" target="_blank">Brockton Area Arc</a></p>
				<p><a href="http://bawib.org/" target="_blank">Brockton Area Workforce Investment Board</a></p>
				<p><a href="https://www.facebook.com/brocktoncmi" target="_blank">Brockton Christian Mentoring Initiative</a></p>
				<p><a href="http://www.bccafterschool.net/" target="_blank">Brockton Church and Community Afterschool Program</a></p>
				<p><a href="http://www.brocktonday.org/" target="_blank">Brockton Day Nursery</a></p>
				<p><a href="http://www.brocktoninterfaithcommunity.org/" target="_blank">Brockton Interfaith Community</a></p>
				<p><a href="http://www.bnhc.org/" target="_blank">Brockton Neighborhood Health Center</a></p>
				<p><a href="http://www.brockton.ma.us/Government/Departments/Parks.aspx" target="_blank">Brockton Parks Department</a></p>
				<p><a href="http://www.brocktonpolice.com/" target="_blank">Brockton Police Department</a></p>
				<p><a href="http://www.brocktonpublicschools.com/" target="_blank">Brockton Public Schools</a></p>
				<p><a href="https://www.facebook.com/brocktonmyac" target="_blank">Brockton Youth Council</a></p>
				<p><a href="http://www.careerworks.org/" target="_blank">CareerWorks</a></p>
				<p><a href="http://www.brockton.ma.us/" target="_blank">City of Brockton Mayor’s Office</a></p>
				<p><a href="http://www.coaching4changeinc.com/" target="_blank">Coaching for Change, Inc.</a></p>
				<p><a href="http://www.ccbrockton.org/" target="_blank">Community Connections of Brockton</a></p>
				<p><a href="http://www.mass.gov/eohhs/gov/departments/dys/" target="_blank">Department of Youth Services</a></p>
				<p><a href="http://dbabrockton.com/" target="_blank">Downtown Brockton Association</a></p>
				<p><a href="https://www.facebook.com/pages/FAM-Friends-Mentors-for-Change" target="_blank">FAM for Change</a></p>
				<p><a href="http://steward.org/Good-Samaritan" target="_blank">Good Samaritan Medical Center</a></p>
				<p><a href="http://greateryouth.org/" target="_blank">Greater Youth Resource Services</a></p>
				<p><a href="http://www.healthimperatives.org/" target="_blank">Health Imperatives</a></p>
				<p><a href="http://www.massasoit.mass.edu/" target="_blank">Massasoit Community College</a></p>
				<p><a href="http://www.oldcolonyymca.org/social-services/social-services-youth-development/education-leadership/big-sister-big-brother" target="_blank">Old Colony YMCA, Big Sister Big Brother</a></p>
				<p><a href="http://www.brocktonpublicschools.com/page.cfm?p=993" target="_blank">The Pathways Center</a></p>
				<p><a href="http://www.mass.gov/daplymouth/" target="_blank">Plymouth County District Attorney</a></p>
				<p>Plymouth County Juvenile Court</p>
				<p><a href="http://www.raisingareader.org/" target="_blank">Raising A Reader</a></p>
				<p><a href="http://www.schoolonwheelsofmass.org/" target="_blank">School on Wheels of MA</a></p>
				<p><a href="http://www.signature-healthcare.org/" target="_blank">Signature Healthcare</a></p>
				<p><a href="http://www.stonehill.edu/" target="_blank">Stonehill College</a></p>
				<p><a href="http://www.tcnewengland.org/" target="_blank">Teen Challenge New England</a></p>
				<p><a href="http://www.uwgpc.org/" target="_blank">United Way of Plymouth County</a></p>
			</div>
		</div>
	</div>
	<footer class="mainFoot">
		<div class="wrapper">

			<div class="foot">
				<h5>Home</h5>

				<h5>
					About

					<ul>

						<li>History</li>
						<li>Promise Partners</li>
						<li>Promise Teams</li>
						<li>Steering Committee</li>

					</ul>
				</h5>

				<h5>Five Promises</h5>
			</div>



			<div class="foot">

				<h5>
					Get Involved

					<li>Brockton Youth Council</li>
					<li>Newsletter</li>
					<li>Neighborhood Block Parties</li>
					<li>Volunteeer</li>
					<li>Become a Member</li>
				</h5>

				<h5>Resources</h5>
			</div>

			<div class="foot contact">

				<h5>Contact Us</h5>

				<h4>320 Washington Street <br>
					North Easton, MA <br>
					508-565-1959</h4>
				</div>

				<div class="clear"></div>

				<h6 class="copy">Brockton's Promise Copyright 2015 &copy; <br>
					Developed by Brian Brennan</h6>
				</footer>
			</body>